##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User={{ install_prometheus__user }}
Group={{ install_prometheus__group }}
Type=simple
ExecStart=/bin/sh -c '/usr/bin/prometheus \
    --config.file {{ install_prometheus__config_path }}/prometheus.yml \
    --storage.tsdb.path /var/lib/prometheus/ \
    --web.console.templates={{ install_prometheus__config_path }}/consoles \
    --web.console.libraries={{ install_prometheus__config_path }}/console_libraries \
    --web.listen-address="{{ install_prometheus__host }}:{{ install_prometheus__port }}" \
    --storage.tsdb.retention.time={{ install_prometheus__retention_time }} \
{% if (install_prometheus__ssl | default(false)) or (install_prometheus__basic_auth | default(false)) %}
    --web.config.file={{ install_prometheus__config_path }}/web-config.yml \
{% endif %}
    --log.level={{ install_prometheus__loglevel }} \
    > {{ install_prometheus__log_path }}/prometheus.log 2>&1'

Restart=always

[Install]
WantedBy=multi-user.target